<header>
  <h1>People</h1>

  <ul class="actions">
    <li><%= link_to "New Person", new_person_path, class: "new" %></li>
  </ul>
</header>

<div id="people">
  <% @people.each do |person| %>
    <h2><%= link_to person.name, person %></h2>
    <p><%= person.title %></p>
  <% end %>
</div>